@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
:root {
  --primary-color: #34495e;
  --secondary-color: #dbe2ef;
  --border-color: #e9e9e9;
  --text-dark: #555;
  --text-white: #fff;
  --bg-global: #f4f9f9;
  --bg-primary: #f07d00;
  --bg-secondary: #79b4b7;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Open Sans', sans-serif;
}

.chart-buttons {
  position: fixed;
  bottom: 1.5em;
  right: 1.5em;
  z-index: 10;
}

.chart-buttons input {
  cursor: pointer;
  border: none;
  padding: 1em;
  background-color: var(--border-color);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 3px;
}

.chart-buttons input:hover {
  opacity: 0.8;
}

.chart-container {
  padding-top: 10px;
  position: relative;
  font-size: 10px;
  font-weight: 500;
  cursor: -webkit-grab;
  cursor: grab;
}

.chart-container h1 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 1em;
  color: var(--primary-color);
}

.chart-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  position: relative;
}

.chart-container ul li {
  display: inline-table;
  text-align: center;
  position: relative;
  padding: 10px 2px;
  font-size: 1em;
}

.chart-container ul li a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 10em;
  width: 10em;
  min-height: 3em;
  border: 1px solid var(--border-color);
  padding: 1.2em 0.5em;
  text-decoration: none;
  border-radius: 3px;
  -webkit-transition: 0.2s background-color, 0.2s color, 0.2s border;
  transition: 0.2s background-color, 0.2s color, 0.2s border;
  background-color: var(--bg-global);
  color: var(--text-dark);
  cursor: pointer;
  position: relative;
  font-size: 1em;
}

.chart-container ul li a + .wrapper {
  position: relative;
}

.chart-container ul li a + .wrapper .items {
  visibility: hidden;
  opacity: 0;
  display: none;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.chart-container ul li a + .wrapper input[type='checkbox'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.chart-container ul li a + .wrapper input[type='checkbox'] + label {
  position: absolute;
  top: -1.4em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 2.6em;
  height: 2.6em;
  background-color: var(--text-white);
  border: 1px solid var(--border-color);
  border-radius: 50%;
  z-index: 20;
}

.chart-container ul li a + .wrapper input[type='checkbox'] + label::before {
  content: '➕';
  position: absolute;
  top: 0.55em;
  left: 0.65em;
  font-size: 1em;
  z-index: 30;
  -webkit-transition: 0.2s -webkit-transform;
  transition: 0.2s -webkit-transform;
  transition: 0.2s transform;
  transition: 0.2s transform, 0.2s -webkit-transform;
}

.chart-container ul li a + .wrapper input[type='checkbox']:checked ~ .items {
  visibility: visible;
  opacity: 1;
  display: block;
}

.chart-container ul li a + .wrapper input[type='checkbox']:checked + label::before {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.chart-container ul li a:hover {
  background-color: var(--secondary-color) !important;
  color: var(--primary-color) !important;
  border: 1px solid var(--secondary-color) !important;
  text-decoration: underline;
}

.chart-container ul li a:hover + ul li a,
.chart-container ul li a:hover + ul > div a,
.chart-container ul li a:hover + ul ul li a,
.chart-container ul li a:hover + ul ul > div a,
.chart-container ul li a:hover + .wrapper > .items li a,
.chart-container ul li a:hover + .wrapper > .items > div a {
  background-color: var(--secondary-color) !important;
  color: var(--text-dark) !important;
  border: 1px solid var(--secondary-color);
}

.chart-container ul li a:hover + ul li::after, .chart-container ul li a:hover + ul li::before,
.chart-container ul li a:hover + ul > div::after,
.chart-container ul li a:hover + ul > div::before,
.chart-container ul li a:hover + ul ul li::after,
.chart-container ul li a:hover + ul ul li::before,
.chart-container ul li a:hover + ul ul > div::after,
.chart-container ul li a:hover + ul ul > div::before,
.chart-container ul li a:hover + .wrapper > .items li::after,
.chart-container ul li a:hover + .wrapper > .items li::before,
.chart-container ul li a:hover + .wrapper > .items > div::after,
.chart-container ul li a:hover + .wrapper > .items > div::before {
  border-color: var(--primary-color);
}

.chart-container ul li a:hover + ul::before,
.chart-container ul li a:hover + ul ul::before,
.chart-container ul li a:hover + .wrapper > .items::before {
  border-color: var(--primary-color);
}

.chart-container ul li .items > div {
  position: relative;
  margin: 1em 0;
  text-decoration: none;
  border-radius: 3px;
  -webkit-transition: 0.2s background-color, 0.2s color, 0.2s border;
  transition: 0.2s background-color, 0.2s color, 0.2s border;
  color: #555;
}

.chart-container ul li .items > div::before {
  content: '';
  position: absolute;
  top: -1em;
  right: 49.5%;
  border-top: 1em solid #ccc;
  width: 1px;
  z-index: 10;
}

.chart-container ul li::before, .chart-container ul li::after {
  content: '';
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 1px solid #ccc;
  width: 51%;
  height: 9px;
}

.chart-container ul li::after {
  right: auto;
  left: 50%;
  border-left: 1px solid #ccc;
}

.chart-container ul li:only-child {
  padding-top: 0;
}

.chart-container ul li:only-child::before, .chart-container ul li:only-child::after {
  display: none;
}

.chart-container ul li:first-child::before, .chart-container ul li:last-child::after {
  border: 0 none;
}

.chart-container ul li:first-child::after {
  border-radius: 3px 0 0 0;
}

.chart-container ul li:last-child::before {
  border-right: 1px solid #ccc;
  border-radius: 0 3px 0 0;
}

.chart-container ul ul::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 1px solid #ccc;
  width: 0;
  height: 10px;
}

.bg-primary {
  border-top-width: 3px !important;
  border-top-color: var(--bg-primary) !important;
}

.bg-secondary {
  border-top-width: 3px !important;
  border-top-color: var(--bg-secondary) !important;
}
/*# sourceMappingURL=style.css.map */