body {
  display: grid;
  place-content: center;
  min-height: 100vh;
}

nav ul {
  text-align: center;
  list-style: none;
  border: 1px solid #ccc;
  padding: 0;
}

nav li {
  font-size: 18px;
  color: #333;
}

nav a {
  display: block;
  text-decoration: none;
  padding: 10px 20px;
  color: #333;
}

nav li:hover {
  background-color: rgb(240, 240, 240);
}
