@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
:root {
  --primary-color: #34495e;
  --secondary-color: #dbe2ef;
  --border-color: #e9e9e9;
  --border-box: #ccc;
  --text-dark: #555;
  --text-white: #fff;
  --bg-global: #f4f9f9;
  --bg-primary: #f07d00;
  --bg-secondary: #79b4b7;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Open Sans', sans-serif;
}

.chart-container {
  display: block;
  margin: 0 auto;
  position: relative;
  font-size: 13px;
  font-weight: 500;
  height: 100vh;
  font-weight: 600;
}

.chart-container h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 0.5em;
  color: var(--primary-color);
}

.chart-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1em;
  position: relative;
}

.chart-container ul li {
  display: inline-table;
  text-align: center;
  position: relative;
  padding: 1em;
}

.chart-container ul li .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.chart-container ul li .line .right-side,
.chart-container ul li .line .left-side {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.chart-container ul li .line .right-side ul,
.chart-container ul li .line .left-side ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chart-container ul li .line .right-side ul::after,
.chart-container ul li .line .left-side ul::after {
  content: '';
  position: absolute;
  right: -0.1em;
  left: auto;
  top: 50%;
  border-top: 0.1em solid var(--border-box);
  width: 1.1em;
  height: 0.1em;
}

.chart-container ul li .line .right-side ul::before,
.chart-container ul li .line .left-side ul::before {
  display: none;
}

.chart-container ul li .line.line-tree {
  height: 8em;
}

.chart-container ul li .line.line-tree .left-side,
.chart-container ul li .line.line-tree .right-side {
  max-width: 19%;
}

.chart-container ul li .line.line-tree ul::after {
  right: 0;
  width: 1.1em;
}

.chart-container ul li .line.line-tree::before {
  height: 9em;
}

.chart-container ul li .line.line-1 {
  height: 19.5em;
}

.chart-container ul li .line.line-1::before {
  height: 19.5em;
}

.chart-container ul li .line.line-2 {
  height: 19.5em;
}

.chart-container ul li .line.line-2::before {
  height: 19.5em;
}

.chart-container ul li .line .right-side ul::after {
  right: 92%;
}

.chart-container ul li .line::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  height: 13.2em;
  border-right: 0.1em solid var(--border-box);
}

.chart-container ul li a,
.chart-container ul li span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 10em;
  width: 10em;
  min-height: 3em;
  height: 3em;
  border: 0.1em solid var(--border-color);
  padding: 1.2em 0.5em;
  text-decoration: none;
  border-radius: 0.3em;
  -webkit-transition: 0.2s background-color, 0.2s color, 0.2s border;
  transition: 0.2s background-color, 0.2s color, 0.2s border;
  background-color: var(--bg-global);
  color: var(--text-dark);
  position: relative;
}

.chart-container ul li a:hover,
.chart-container ul li span:hover {
  background-color: var(--secondary-color) !important;
  color: var(--primary-color) !important;
  border: 0.1em solid var(--secondary-color) !important;
  border-top-width: 0.3em !important;
}

.chart-container ul li a:hover + ul li a,
.chart-container ul li a:hover + ul li span,
.chart-container ul li a:hover + ul > div a,
.chart-container ul li a:hover + ul > div span,
.chart-container ul li a:hover + .line li a,
.chart-container ul li a:hover + .line li span,
.chart-container ul li a:hover + .line > div a,
.chart-container ul li a:hover + .line > div span,
.chart-container ul li a:hover ~ .line + ul li a,
.chart-container ul li a:hover ~ .line + ul li span,
.chart-container ul li a:hover ~ .line + ul > div a,
.chart-container ul li a:hover ~ .line + ul > div span,
.chart-container ul li span:hover + ul li a,
.chart-container ul li span:hover + ul li span,
.chart-container ul li span:hover + ul > div a,
.chart-container ul li span:hover + ul > div span,
.chart-container ul li span:hover + .line li a,
.chart-container ul li span:hover + .line li span,
.chart-container ul li span:hover + .line > div a,
.chart-container ul li span:hover + .line > div span,
.chart-container ul li span:hover ~ .line + ul li a,
.chart-container ul li span:hover ~ .line + ul li span,
.chart-container ul li span:hover ~ .line + ul > div a,
.chart-container ul li span:hover ~ .line + ul > div span {
  background-color: var(--secondary-color) !important;
  color: var(--text-dark) !important;
  border: 0.1em solid var(--secondary-color) !important;
  border-top-width: 0.3em !important;
}

.chart-container ul li a:hover + ul li::after, .chart-container ul li a:hover + ul li::before,
.chart-container ul li a:hover + ul > div::after,
.chart-container ul li a:hover + ul > div::before,
.chart-container ul li a:hover + .line li::after,
.chart-container ul li a:hover + .line li::before,
.chart-container ul li a:hover + .line > div::after,
.chart-container ul li a:hover + .line > div::before,
.chart-container ul li a:hover ~ .line + ul li::after,
.chart-container ul li a:hover ~ .line + ul li::before,
.chart-container ul li a:hover ~ .line + ul > div::after,
.chart-container ul li a:hover ~ .line + ul > div::before,
.chart-container ul li span:hover + ul li::after,
.chart-container ul li span:hover + ul li::before,
.chart-container ul li span:hover + ul > div::after,
.chart-container ul li span:hover + ul > div::before,
.chart-container ul li span:hover + .line li::after,
.chart-container ul li span:hover + .line li::before,
.chart-container ul li span:hover + .line > div::after,
.chart-container ul li span:hover + .line > div::before,
.chart-container ul li span:hover ~ .line + ul li::after,
.chart-container ul li span:hover ~ .line + ul li::before,
.chart-container ul li span:hover ~ .line + ul > div::after,
.chart-container ul li span:hover ~ .line + ul > div::before {
  border-color: var(--primary-color);
}

.chart-container ul li a:hover + ul::before,
.chart-container ul li a:hover + .line::before,
.chart-container ul li a:hover ~ .line + ul::before,
.chart-container ul li span:hover + ul::before,
.chart-container ul li span:hover + .line::before,
.chart-container ul li span:hover ~ .line + ul::before {
  border-color: var(--primary-color);
}

.chart-container ul li a:hover + .line ul::before, .chart-container ul li a:hover + .line ul::after,
.chart-container ul li a:hover ~ ul .line ul::before,
.chart-container ul li a:hover ~ ul .line ul::after,
.chart-container ul li a:hover + .line .left-side ul::before,
.chart-container ul li a:hover + .line .left-side ul::after,
.chart-container ul li a:hover ~ ul .items div ul::before,
.chart-container ul li a:hover ~ ul .items div ul::after,
.chart-container ul li span:hover + .line ul::before,
.chart-container ul li span:hover + .line ul::after,
.chart-container ul li span:hover ~ ul .line ul::before,
.chart-container ul li span:hover ~ ul .line ul::after,
.chart-container ul li span:hover + .line .left-side ul::before,
.chart-container ul li span:hover + .line .left-side ul::after,
.chart-container ul li span:hover ~ ul .items div ul::before,
.chart-container ul li span:hover ~ ul .items div ul::after {
  border-color: var(--primary-color);
}

.chart-container ul li a:hover + .line::before, .chart-container ul li a:hover + .line::after,
.chart-container ul li a:hover ~ ul .line::before,
.chart-container ul li a:hover ~ ul .line::after,
.chart-container ul li a:hover + .line .left-side::before,
.chart-container ul li a:hover + .line .left-side::after,
.chart-container ul li a:hover ~ ul .items div::before,
.chart-container ul li a:hover ~ ul .items div::after,
.chart-container ul li span:hover + .line::before,
.chart-container ul li span:hover + .line::after,
.chart-container ul li span:hover ~ ul .line::before,
.chart-container ul li span:hover ~ ul .line::after,
.chart-container ul li span:hover + .line .left-side::before,
.chart-container ul li span:hover + .line .left-side::after,
.chart-container ul li span:hover ~ ul .items div::before,
.chart-container ul li span:hover ~ ul .items div::after {
  border-color: var(--primary-color);
}

.chart-container ul li a {
  cursor: pointer;
}

.chart-container ul li a:hover {
  text-decoration: underline;
}

.chart-container ul li::before, .chart-container ul li::after {
  content: '';
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 0.1em solid var(--border-box);
  width: 51%;
  height: 0.9em;
}

.chart-container ul li::after {
  right: auto;
  left: 50%;
  border-left: 0.1em solid var(--border-box);
}

.chart-container ul li:only-child {
  padding-top: 0;
}

.chart-container ul li:only-child::before, .chart-container ul li:only-child::after {
  display: none;
}

.chart-container ul li:first-child::before, .chart-container ul li:last-child::after {
  border: 0 none;
}

.chart-container ul li:first-child::after {
  border-radius: 0.3em 0 0 0;
}

.chart-container ul li:last-child::before {
  border-right: 0.1em solid var(--border-box);
  border-radius: 0 0.3em 0 0;
}

@media only screen and (max-width: 992px) {
  .chart-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.bg-primary {
  border-top-width: 0.3em !important;
  border-top-color: var(--bg-primary) !important;
}

.bg-secondary {
  border-top-width: 0.3em !important;
  border-top-color: var(--bg-secondary) !important;
}
